@model IEnumerable<ProductScraper.Models.EntityModels.ProductInfo>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="width: 35%">
                Name
            </th>
            <th>
                Link
            </th>
            <th>
                Price
            </th>
            <th>
                Second price
            </th>
            <th>
                Available
            </th>
            <th>
                Last checked
            </th>
            <th>
                Changed
            </th>
            <th style="width: 20%">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href="@item.URL">Link</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondPrice)
            </td>
            <td>
                @if (item.Availability.HasValue)
                {
                    if (item.Availability.Value)
                    {
                        <i class="fas fa-check text-success"></i>
                    }
                    else
                    {
                        <i class="fas fa-times text-danger"></i>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastCheckedOn)
            </td>
            <td>
                @if (item.HasChangesSinceLastTime)
                {
                    <i class="fas fa-check text-success"></i>
                }
                else
                {
                    <i class="fas fa-times text-danger"></i>
                }
            </td>
            <td>
                <a asp-action="Check" asp-route-id="@item.Id">Check</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Info</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
