@model IEnumerable<ProductScraper.Models.EntityModels.ScrapeConfig>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNamePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPricePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSecondPricePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductAvailabilityPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNamePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPricePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSecondPricePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductAvailabilityPath)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
