@model IEnumerable<ProductScraper.Models.EntityModels.ProductInfo>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="width: 35%">
                Name
            </th>
            <th>
                Price
            </th>
            <th style="width: 15%">
                Previous price
            </th>
            <th>
                Currency
            </th>
            <th>
                Available
            </th>
            <th style="width: 20%">
                Last checked
            </th>
            <th>
                Changed
            </th>
            <th style="width: 20%">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a target="_blank" href="@item.URL">@item.Name</a>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) <a onclick="checkProductHistory('@item.Id')" href="#">History</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviousPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @if (item.Availability.HasValue)
                {
                    if (item.Availability.Value)
                    {
                        <i class="fas fa-check text-success"></i>
                    }
                    else
                    {
                        <i class="fas fa-times text-danger"></i>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastCheckedOn)
            </td>
            <td>
                @if (item.HasChangesSinceLastTime)
                {
                    <i class="fas fa-check text-success"></i>
                }
                else
                {
                    <i class="fas fa-times text-danger"></i>
                }
            </td>
            <td>
                <a asp-action="Check" asp-route-id="@item.Id">Check</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div id="productHistoryModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="productHistoryModalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function checkProductHistory(id) {
        console.log(id);
        $.ajax({
            async: true,
            type: "GET",
            url: '/Products/History/' + id,
            success: function (data) {
                $('#productHistoryModalBody').html(data);
                $('#productHistoryModal').modal('show');
                console.log(data);
            }
        });
    }
</script>